body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

.carousel-inner img {
  width: 100%; }

.dimensioni {
  width: 25%; }

.contenitoreFlex {
  display: flex;
  justify-content: space-around;
  flex-grow: 1; }
