$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$fullpercentual: 100%;
$halfpercentual:50%;
$headercolor:#262626;



#headerprincipale{
    width:$fullpercentual;
    height:180px;
    background-color:$headercolor;
    display:flex;
    
}
#logo{
    position:absolute;
}

#logo img{
    width:200px;
    
}
nav{
  float:right;
  width:$halfpercentual;
  
  align-items: flex-end;
}
nav ul li {
    list-style: none;
    color:grey;
    font-size:16px;
    margin-left:3%;
    display:inline;
    display:flex;

}
