$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body{
    font:100% $font-stack;
    color: $primary-color;
}
.carousel-inner img {
    width: 100%;
}
.dimensioni{
    width: 25%;
}
.contenitoreFlex{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}